<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Localhost running </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='_folder_actions.css') }}">
</head>

<body>
    {% include "components/header.html" %}

    <div class="dashboard-body">
        {% include "components/sidebar.html" %}
        {% include "components/main_content.html" %}
    </div>

    <script src="{{ url_for('static', filename='live_search.js') }}"></script>
</body>

</html>